@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');
@import './variables.css';
@import './utilities.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: var(--pure);
    background: var(--primary);
}

header{
    background: linear-gradient(135deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2)), url(../gallary/sunrise.jpg);
    min-height: 100vh;
    background-size: cover;
}

header nav{
    padding: 20px 40px 20px 100px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid var(--gray);
    position: sticky;
    top: 0;
}

header nav .brand img{
    height: 40%;
    width: 40%;
}
header nav .nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav .nav-right a{
    text-decoration: none;
    color: var(--pure);
    margin-right: 30px;
    position: relative;
    
}

header nav .nav-right a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 0;
    height: 2px;
    background: var(--pure);
    transition: width 0.3s ease-in-out;
}

header nav .nav-right a:hover::after{
    width: 100%;
}

header nav .nav-right a.active::after{
    width: 80%;
}

header nav .nav-right .search > div{
    background: var(--dark);
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 50px;

}
header nav .nav-right .search > div input{
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
}
header nav .nav-right .search > div img{
    padding-right: 16px;
    cursor: pointer;
}

.hero .social div a{
    border: 2px solid white;
    width: 40px;
    height: 40px;
    color: white;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

@keyframes moveIn{
    from{
        transform: translateX(-100px);
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

.hero .social div a:hover{
    color: black;
    border: 2px solid black;
    background: white;
}

.hero{
    position: relative;
}
.social{
    position: absolute;
    left: 0;
    top: 0;
    border-right: 1px solid var(--gray);
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 88.4vh;
}

.hero .cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70vh;
}

.hero .container{
        padding: 0 70px;
}
.hero .container .right img{
    height: 70vh;
    margin-top: 25px;
    transform: rotate(20deg);
    animation: moveInspace 12s ease-in-out infinite alternate;
}

@keyframes moveInspace{
    50%{
        transform: translateY(100px) rotate(-30deg) scale(0.5);
    }
}

.hero .container .left{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    margin-top: 120px;
}

.hero .container .left .btn{
    padding: 8px 15px;
    margin-top: 30px;
    font-size: 12px;
    font-weight: 700;
    color: black;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;
    background: white;
    border: 2px solid white;
    border-radius: 30px;
    transition: 0.2s ease-in-out;
}

.hero .container .left .btn:hover{
    background: rgba(0, 0, 0, 0.432);
    color: white;
    border: 2px solid rgba(253, 251, 251, 0.411);
}

.hero .cta > div{
    flex: 1;
}

section.strip{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: black;
    padding: 50px 0;
}

section.strip .btn{
    padding: 8px 15px;
    margin-top: 30px;
    font-size: 12px;
    color: black;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;
    background: white;
    border: 2px solid white;
    border-radius: 30px;
    transition: 0.1s ease-in-out;
}
section.strip .btn:hover{
    background: rgba(0, 0, 0, 0.432);
    color: white;
    border: 2px solid rgba(253, 251, 251, 0.411);
}


/* 2nd part */

section.rocket{
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    grid-gap: 80px;
    padding: 100px 0;
    /* background: var(--primary); */
}

section.rocket .block{
    width: 70%;
}
section.rocket .block h1{
    font-size: 32px;
    font-weight: 400;
}

section.rocket .block h1{
    position: relative;
    margin-bottom: 38px;
}

section.rocket .block h1::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    display: block;
    width: 20%;
    height: 2px;
    background: white;
}

section.rocket p{
    line-height: 1.6;
}

section.rocket .block h2{
    font-weight: 400;
    margin-bottom: 20px;
}

/* right block */

/* payload */

section.rocket .right-block{
    padding-top: 130px;
}

section.rocket .right-block h2{
    padding-left: 80px;
}

/* stage 2 */

section.rocket .right-block .stage2{
    padding-top: 130px;
}
section.rocket .right-block .stage2 h2{
    padding-left: 0px;
    position: relative;
    margin-bottom: 38px;
}
section.rocket .right-block .stage2 h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    display: block;
    width: 40%;
    height: 2px;
    background: white;
}

section.rocket .right-block .capacity{
    padding-top: 120px;
}

/*  */

section.rocket .right-block .engines{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

section.rocket .right-block .engines img{
    width: 120px;
}

/*  */

section.rocket .right-block .marine{
    padding-top: 100px;
    width: 70%;
}

section.rocket .right-block .marine h2{
    padding-left: 100px;
    font-size: 14px;
    margin-bottom: 26px;
}

/*  */

section.rocket .right-block .float{
    position: sticky;
    float: right;
    top: 60px;
    margin-right: -50px;
}

section.rocket .right-block .float img{
    height: 300px;
}

/* Dragon section */


section.rocket .dragon{
    padding-top: 80px;
}

section.rocket .dragon h2{
    position: relative;
    margin-bottom: 38px;
}

section.rocket .dragon h2::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    display: block;
    width: 40%;
    height: 2px;
    background: white;
}

section.rocket button{
    background: transparent;
    outline: navajowhite;
    border: none;
    color: white;
    font-weight: 600px;
    border: 2px solid white;
    padding: 8px 12px;
    border-radius: 30px;
    margin-top: 20px;
    transition: all .2s ease-in-out;
}
section.rocket button:hover{
    background: white;
    color: black;
}

/* composite section */

section.rocket .composite{
    padding-top: 80px;
}

section.rocket .composite h2{
    position: relative;
    margin-bottom: 38px;
}

section.rocket .composite h2::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    display: block;
    width: 40%;
    height: 2px;
    background: white;
}

section.rocket button{
    background: transparent;
    outline: navajowhite;
    border: none;
    color: white;
    font-weight: 600px;
    border: 2px solid white;
    padding: 8px 12px;
    border-radius: 30px;
    margin-top: 20px;
    transition: all .2s ease-in-out;
}
section.rocket button:hover{
    background: white;
    color: black;
}

/* stage section */

section.rocket .stage{
    padding-top: 80px;
}

section.rocket .stage h2{
    position: relative;
    margin-bottom: 38px;
}

section.rocket .stage h2::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    display: block;
    width: 20%;
    height: 2px;
    background: white;
}

section.rocket button{
    background: transparent;
    outline: navajowhite;
    border: none;
    color: white;
    font-weight: 600px;
    border: 2px solid white;
    padding: 8px 12px;
    border-radius: 30px;
    margin-top: 20px;
    transition: all .2s ease-in-out;
}
section.rocket button:hover{
    background: white;
    color: black;
}

/* engine */

section.rocket .capacity{
    padding-top: 60px;
}

section.rocket .capacity h4{
    position: relative;
    margin-bottom: 20px;
    font-size: 12px ;
    font-weight: 400;
}

section.rocket .capacity h4::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    display: block;
    width: 50%;
    height: 2px;
    background: white;
}

section.rocket .capacity{
    display: flex;
    align-items: center;
}
section.rocket .capacity > div:first-child{
    margin-right: 40px;
}
section.rocket .capacity h6{
    font-size: 40px;
    font-weight: 400;
}
section.rocket .capacity h6 small{
    font-size: 12px;
}

/* rocket section*/

section.rocket .rocket-body{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
section.rocket .rocket-body span{
    font-size: 0;
    position: relative;
}
section.rocket .rocket-body span img{
    width: 100%;
}

section.rocket .rocket-body span::after, section.rocket .rocket-body span:nth-child(3)::before{
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 2px;
    background: white;
    transition: width 1s ease-in-out;
}

section.rocket .rocket-body span:nth-child(1)::after{
    bottom: 16px;
    left: 96%;

}

section.rocket .rocket-body span:nth-child(2)::after{
    bottom: 62%;
    right: 100%;
}

section.rocket .rocket-body span:nth-child(3)::after{
    bottom: 64%;
    right: 90%
}

section.rocket .rocket-body span:nth-child(3)::before{
    bottom: 29%;
    left: 90%;
}

section.rocket .rocket-body span.active:nth-child(1)::after{
    width: 120px;
}
section.rocket .rocket-body span.active:nth-child(2)::after{
    width: 180px;
}
section.rocket .rocket-body span.active:nth-child(3)::after{
    width: 200px;
}
section.rocket .rocket-body span.active:nth-child(3)::before{
    width: 160px;
}

@keyframes jump{
    50%{
        transform: translateY(-50px);
    }
}

section.rocket .rocket-body span.active:nth-child(1){
    animation: jump 1s ease-in-out forwards;
}


/* footer */

footer .foot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    padding: 50px 50px;
}

footer .copyright span{
    font-size: 12px;
    display: inline-block;
    margin-top: 5px;
}

footer .copyright img{
    height: 25px;
}

footer h1 {
    font-size: 18px;
    position: relative;
    margin-bottom: 30px;
}

footer h1:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    display: block;
    width: 60px;
    height: 2px;
    background: var(--pure);
}

footer ul{
    list-style-type: none;
}

footer ul li:nth-child(even){
    margin: 10px 0;
}

footer ul li a{
    color: var(--mild);
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

footer ul li a:hover{
    color: white;
}

footer .soc a{
    text-decoration: none;
    margin-right: 20px;
    font-size: 22px;
    color: var(--mild);
    transition: all 0.3s ease-in-out;
}

footer .soc a:hover{
    color: white;
}
